<div class="row">
  <div class="input-field col s12">
    <%= f.text_field :name, class: 'validate', placeholder: human_attribute_name(ProductCategory, :name) %>
    <%= f.label :name %>
  </div>
</div>
