.main {
  padding-left: 240px;
}

.card-panel {
  overflow: auto;
}

.btn-small {
  height: 28px;
  line-height: 28px;
}

.state-badge {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 0.8rem;
  line-height: inherit;
  border-radius: 2px;
}