<!DOCTYPE html>
<html>
<head>
  <title>Aluguel de Produtos</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-5">
<%= yield %>
</body>
</html>
